{% extends 'tarefas/base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center" style="color: #B50000;">Lista de Tarefas</h2>

<h3>Detalhes das Tarefas</h3>
<table class="table table-striped">
    <thead style="background-color: #B50000; color: white;">
        <tr>
            <th>#</th>
            <th>Nome da Tarefa</th>
            <th>Custo</th>
            <th>Data Limite</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="tarefas-lista-detalhes" class="sortable">
        {% for tarefa in tarefas %}
            <tr data-id="{{ tarefa.id }}" {% if tarefa.custo >= 1000 %}style="background-color: yellow;"{% endif %}>
                <td>{{ tarefa.ordem_apresentacao }}</td>
                <td>{{ tarefa.nome_tarefa }}</td>
                <td>{{ tarefa.custo }}</td>
                <td>{{ tarefa.data_limite }}</td>
                <td>
                    <a href="{% url 'editar_tarefa' tarefa.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'deletar_tarefa' tarefa.id %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'criar_tarefa' %}" class="btn btn-success">Incluir Nova Tarefa</a>

<!-- Elemento para armazenar a URL gerada pelo Django -->
<div id="salvar-ordem-url" data-url="{% url 'salvar_ordem' %}"></div>
<!-- Elemento para armazenar o token CSRF -->
<div id="csrf-token" data-csrf="{{ csrf_token }}"></div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
