body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    margin-top: 20px;
}

.btn {
    margin: 5px;
}
